<% content_for :title, "Designs: Holiday Card Series" %>

<body>
  <center><div id="main">
    <div class="header">
      <p id="title"><a href="/">REIKA YOSHINO</a></p>
      <a href="/reel" class="menu">DEMO REEL</a>
      <a href="/models" class="menu">3D MODELS</a>
      <a href="/designs" class="menu">DESIGNS</a>
      <a href="/projects" class="menu">PROJECTS</a>
      <a href="/others" class="menu">OTHERS</a>
      <a href="/about" class="menu">ABOUT</a>
    </div>

    <div class="line" />

    <div class="content">

      <%= image_tag "card_series_header.jpg", id: "media" %>

      <h2>Illustrations for Holiday Card Series</h2>

      <div class="description">
        <p>Project goal was to create a series of holiday cards (3). It may be a series of cards for one holiday or all different ones. The only requirement is that the series must be obvious.</p>

        <p>The holidays I chose were the Mid-Autumn Festival (Tsukimi), the Lantern Festival (Genshousetsu), and the Star Festival (Tanabata). These holidays are celebrated in many countries of Asia. I took this project as an opportunity to depict the culture I grew up in as well as to portray the mythological aspects of these festivals.</p>

        <p>Tools: Watercolor, Photoshop</p>
        <br>
      </div>

      <div class="description" style="width:380px">
        <%= image_tag "card_tsukimi.jpg" %>
      </div>

      <div class="description" style="width:500px; padding-left:20px">
        <p><b>Mid-Autumn Festival*</b>
        <br>Tsukimi is a Japanese tradition of holding a gathering to view the harvest moon. Imageries associated with this holiday includes <i>tsukimi dango</i> (Japanese white rice dumplings), <i>susuki grass</i>, and often rabbits. It is believed that a rabbit lives on the Moon who continues to pound <i>mochi</i>. The dark markings on a full moon can be identified as a mochi-pounding rabbit. It is said that a long time ago, an old man begged some animals for food, and the rabbit who only knew how to gather grass offered himself by throwing himself into the fire the old man had built. The old man who turned out to be a god was touched by the rabbit's virtue, and decided to send the rabbit to the Moon for everyone to see. </p>

        <%= image_tag "card_tsukimi_etc.jpg" %>
        <br><br>
      </div>

      <div class="description" style="width:380px">
        <%= image_tag "card_lantern.jpg" %>
      </div>

      <div class="description" style="width:500px; padding-left:20px">
        <p><b>Lantern Festival*</b>
        <br>One of the many mythologies that surround this holiday begins with a beautiful crane that flew down to earth from heaven. It was hunted and killed by some villagers, which angered the god who favored the crane. The god planned to burn down the village on the fifteenth lunar day. The villagers who learned of this plan seeked for help, and a wise man from another village suggested every family to hang red lanterns around their houses. When the fifteenth lunar day came, the troops sent from heaven saw that the village was already ablazed and returned to heaven.</p>

        <%= image_tag "card_lantern_etc.jpg" %>
        <br><br>
      </div>

      <div class="description" style="width:380px">
        <%= image_tag "card_tanabata.jpg" %>
      </div>

      <div class="description" style="width:500px; padding-left:20px">
        <p><b>Star Festival*</b>
        <br>This is a story of two dieties, Orihime and Hikoboshi (represented by the stars Vega and Altair respectively). Orihime, the Weaving Princess, worked every day and was sad because she could never meet and fall in love with anyone. Her concerned father arranged for her to meet Hikoboshi, a cow herder, who worked on the other side of the Milky Way. They fall in love at first sight and soon get married. However, they soon stopped working which angered Orihime's father. He seperated the two lovers on each side of the Milky Way and prohibited them to meet. Orihime became despondent and was given permission to meet Hikoboshi on the 7th of July if she worked hard. On the day, a flock of magpies makes a bridge with their wings to unite the two once again.</p>

        <%= image_tag "card_tanabata_etc.jpg" %>
        
      </div>

      <div class="description">
        <p><font size=1>*The mythologies may differ in different countries.</font></p>
      </div>

    </div>

    <div class="line" />

    <br>
    <p>
      <div class="header">
        <a href="/" class="footer">HOME</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/designs" class="footer">DESIGNS</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/designs/card_series" class="footer static">Illustrations for Holiday Card Series</a>
      </div>
    </p>
    <br><br>
  </div></center>
</body>