<% content_for :title, "3D Models: Cottage" %>

<body>
  <center><div id="main">
    <div class="header">
      <p id="title"><a href="/">REIKA YOSHINO</a></p>
      <a href="/reel" class="menu">DEMO REEL</a>
      <a href="/models" class="menu">3D MODELS</a>
      <a href="/designs" class="menu">DESIGNS</a>
      <a href="/projects" class="menu">PROJECTS</a>
      <a href="/others" class="menu">OTHERS</a>
      <a href="/about" class="menu">ABOUT</a>
    </div>

    <div class="line" />

    <div class="content">

      <%= image_tag "model_cottage_header.jpg", id: "media" %>

      <h2>Cottage Model</h2>

      <div class="description">
        <p>This cottage model is something I worked on during early summer of 2015 to challenge myself with something more complex. After completion, I have received feedback that incorporating a themed background would be fun and beneficial. The background concept (image above) is created by a good friend of mine, Jay Zhou. [<a href="https://artofjayzhou.wordpress.com/">Website Link</a>] </p>

        <p>I began working on this model right after I decided to specialize in modeling. This was a huge change for me because up until this point, I have always modeled from reference photos or designs I came up with. Often, this style of working didn't allow me to concentrate on one speclized area (such as modeling), so as my first task, I needed to find a concept work I could work off of. After searching and contacting for permission, I chose something that would fit in an animation as well as a game environment. The following is the concept art I chose, created by Zhuosi Xu. [<a href="http://xuzhuosi.portfoliobox.io">Website Link</a>]</p>

        <%= image_tag "cottage_concept.jpg" %><br>

        <h3>▾ Turntable
        <iframe id="media" src="https://player.vimeo.com/video/135107379" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><br><br>

        ▾ Beauty Pass
        <%= image_tag "house_beauty.jpg" %><br><br>

        ▾ Ambient Occlusion Pass
        <%= image_tag "house_ao.jpg" %><br><br>

        ▾ Wireframe + Beauty Pass
        <%= image_tag "house_wireframe.jpg" %><br></h3>

        <p>Tools: Maya, Photoshop, Premiere</p>
      </div>

    </div>

    <div class="line" />

    <br>
    <p>
      <div class="header">
        <a href="/" class="footer">HOME</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/models" class="footer">3D MODELS</a>
        <a href="/" class="footer static"> ▸ </a>
        <a href="/models/cottage" class="footer static">Cottage Model</a>
      </div>
    </p>
    <br><br>
  </div></center>
</body>