<body>
  <center><div id="main">
    <div class="header">
      <p id="title">REIKA YOSHINO</p>
      <a href="/reel">DEMO REEL</a>
      <a href="/models">3D MODELS</a>
      <a href="/designs">DESIGNS</a>
      <a href="/projects" id="inactive">PROJECTS</a>
      <a href="/others">OTHERS</a>
      <a href="/resume">RESUME</a>
    </div>
    
    <div class="line" />

    <div class="content">
      <div class="box">
        <%= image_tag "game_prairie.jpg" %>
        <h4>Walking Simulator</h4>
      </div> 

      <div class="box margin">
        <%= image_tag "instant.jpg" %>
        <h4>The Instant Button</h4>
      </div>

      <div class="box margin">
        <a href="/projects/animated_short"> <%= image_tag "animated_short.jpg" %> </a>
        <h4>Animated Short</h4>
      </div> 

      <div class="box margin">
        <%= image_tag "leica_reel.jpg" %>
        <h4>Leica Reel</h4>
      </div> 

      <div class="box">
        <a href="/projects/afterglow"> <%= image_tag "afterglow.jpg" %> </a>
        <h4>Afterglow</h4>
      </div> 
    
    </div>

    <div class="line" />

    <br>
    <p>
      <div class="header">
        <a href="/">HOME</a>
      </div>
    </p>
    <br><br>
  </div></center>
</body>